@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 font-sans;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}

/* Text Strokes for Gaming Captions */
.text-stroke-black {
  -webkit-text-stroke: 4px black;
  paint-order: stroke fill;
}

.text-stroke-sm {
  -webkit-text-stroke: 2px black;
  paint-order: stroke fill;
}
